@import 'variables';
@import 'mixins';
@import 'componentes';

* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: $fuente-textos; background-color: $color-fondo; color: $color-texto; overflow-x: hidden; }
h1, h2, h3 { font-family: $fuente-titulos; font-weight: 400; letter-spacing: 2px; }
